<nav>
    <a href="/user-home"> <!-- Replace "/home" with the actual URL of your home page -->
        <div class="logo"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"></div>
    </a>
    <ul class="links">
        {% if session.get('name') %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
            <li><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li>
        {% endif %}
        <!-- Dropdown for categories -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                    <a class="dropdown-item category-link" href="/userproduct/{{ category.id }}">{{ category.product_category_name }}</a>
                {% endfor %}
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="cartDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-gift bigicon"></span> {{ session.get('cart', {}) | length }} - Items in Cart
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cartDropdown">
                {% if session.get('cart') and session.get('cart')|length > 0 %}
                    {% set total_price = 0 %}
                    {% for item in session.get('cart') %}
                        {% set product = products | selectattr("id", "equalto", item.product_id) | list | first %}
                        {% set item_total_price = product.product_price * item.quantity %}
                        {% set total_price = total_price + item_total_price %}
                        <div class="dropdown-item d-flex align-items-center">
                            <img src="{{ product.product_main_image }}" alt="{{ product.product_title }}" width="50" height="50" class="mr-2">
                            <div>
                                <strong>{{ product.product_title }}</strong><br>
                                <span class="cart-item-quantity">Quantity: {{ item.quantity }}</span><br>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary btn-minus" type="button" data-item="{{ item.product_id }}">-</button>
                                    </div>
                                    <input type="text" class="form-control quantity" value="{{ item.quantity }}" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary btn-plus" type="button" data-item="{{ item.product_id }}">+</button>
                                    </div>
                                </div>
                                <!-- <span>Price: {{ product.product_price }} NZD</span><br> -->
                                <span>Total: {{ item_total_price }} NZD</span>
                            </div>
                            <a href="{{ url_for('remove_from_cart', product_id=product.id) }}" class="ml-auto text-danger remove-btn" data-product-id="{{ product.id }}" style="color: black;">
                                <span aria-hidden="true" style="color: black;">&times;</span>
                            </a>
                        </div>
                    {% endfor %}
                    
                {% else %}
                    <div class="dropdown-item">Your cart is empty.</div>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center" href="{{ url_for('user_cart', cart=session.get('cart', [])) }}">View Cart</a>
        </li>
    </ul>
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Retrieve cart data from the hidden input field
        var cartData = JSON.parse($('#cart-data').val());

        function updateCartDisplay(cart) {
            var totalPriceContainer = $('#total-price-container');
            var total_price = 0;

            if (cart.length > 0) {
                $.each(cart, function(index, item) {
                    var product = products.find(product => product.id === item.product_id);
                    if (product) {
                        total_price += product.product_price * item.quantity;
                    }
                });
            }

            totalPriceContainer.text("Total Price: " + total_price.toFixed(2) + " NZD");
        }

        // Initial update of cart display
        updateCartDisplay(cartData);

        // Function to handle remove button click
        $('.remove-btn').click(function() {
            var product_id = $(this).data('product-id');
            removeFromCart(product_id);
        });

        // Function to remove item from cart
        function removeFromCart(product_id) {
            $.ajax({
                url: `/remove_from_cart/${product_id}`,
                method: 'GET',
                success: function(response) {
                    if (response.success) {
                        // Update cart display
                        updateCartDisplay(response.cart);
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Error removing item from cart:", error);
                }
                
            });
        }

        // Function to handle plus button click
        $(".btn-plus").click(function() {
            var item_id = $(this).data("item");
            var quantity_field = $(this).closest(".input-group").find(".quantity");
            var current_quantity = parseInt(quantity_field.val());
            var new_quantity = current_quantity + 1;
            quantity_field.val(new_quantity);
            updateItemQuantity(item_id, new_quantity);
        });

        // Function to handle minus button click
        $(".btn-minus").click(function() {
            var item_id = $(this).data("item");
            var quantity_field = $(this).closest(".input-group").find(".quantity");
            var current_quantity = parseInt(quantity_field.val());
            var new_quantity = current_quantity - 1;
            if (new_quantity >= 1) {
                quantity_field.val(new_quantity);
                updateItemQuantity(item_id, new_quantity);
            }
        });

        function updateItemQuantity(item_id, quantity) {
            // Send AJAX request to update quantity in database
            $.ajax({
                url: '/update-cart-item',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    cart_item_id: item_id,
                    quantity: quantity
                }),
                success: function(response) {
                    // Update total price after successful response
                    updateItemTotal(item_id, quantity);
                    updateTotalPrice();
                },
                error: function(error) {
                    console.error('Error updating quantity:', error);
                }
            });
        }

        function updateItemTotal(item_id, quantity) {
            // Update the displayed total price for the item
            var unit_price = parseFloat($("#item-" + item_id + "-price").text().replace("Price: ", "").replace(" NZD", ""));
            var new_item_total_price = unit_price * quantity;
            $("#item-" + item_id + "-total").text("Total: " + new_item_total_price.toFixed(2) + " NZD");
        }

        function updateTotalPrice() {
            // Update the total price in the order summary
            var total_price = 0;
            $(".item-total").each(function() {
                var item_total_price = parseFloat($(this).text().replace("Total: ", "").replace(" NZD", ""));
                total_price += item_total_price;
            });
            $("#total-price").text("Total Price: " + total_price.toFixed(2) + " NZD");
        }
    });
</script>

