<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   
</head>
<body>
    {% include 'admin_navbar.html' %}

    <div class="container">
        <div class="table-responsive" style="margin-top: 100px;">
            <table class="table table-striped mt-5">
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Image</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.product_code }}</td>
                        <td>{{ product.product_price }}</td>
                        <td>{{ product.product_quantity }}</td>
                        <td><a href="/edit_product/{{ product.id }}" class="btn btn-primary">Edit</a></td>
                        <td>
                            <button class="btn btn-danger" onclick="document.getElementById('delete_product_model_{{ product.id }}').style.display='block'">Delete</button>
                        </td>
                        <td> 
                            {% if product.product_main_image %}
                            <img src="{{ product.product_main_image }}" alt="Product Image"
                                 style="width: 45px; height: 45px"
                                 class="rounded-circle" onerror="imageError(this)">
                            {% else %}
                            <p>No image available</p>
                            {% endif %}
                        </td>
                        <!-- Modal code -->
                        {% include 'productdelete_model.html' %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Button for adding a new product -->
        <div class="row mt-4">
            <div class="col-md-12 text-center"> <!-- Adjusted column size -->
                <a href="/addnewproduct/{{ product_category_id }}" class="btn btn-success">Add New Product</a>
            </div>
        </div>
        <div class="row mt-2"> <!-- Added an empty row for spacing -->
            <div class="col-md-12 text-right"> <!-- Adjusted column size -->
                <a href="javascript:history.back()" class="btn btn-info">Back</a>
            </div>
        </div>
    </div>

    <script>
        function confirmLogout() {
            var confirmation = confirm("Are you sure you want to logout?");
            if (confirmation) {
                window.location.href = "{{ url_for('logout') }}";
            } else {
              
            }
        }
    </script>

    <script>
        function imageError(imgElement) {
            imgElement.onerror = null; // Prevent infinite loop in case placeholder image also fails
            imgElement.src = "{{ url_for('static', filename='img/logo.png') }}"; // Provide a path to a placeholder image
            // imgElement.alt = "Placeholder Image"; // Optional: Set an alternative text for the placeholder image
        }
    </script>
</body>
</html>
